@import './variables';

#application {
  .nav-link.active {
    color: $black;
  }

  @media (max-width: 992px) {
    .display-4 {
      font-size: 2rem;
    }
    h1 {
      font-size: 2.3rem;
    }
  }
}